@import "css_lib.sass"

*
  +test

.topic_table
  width: 250px
  margin-top: 10px
  margin-right: 20px
  border-radius: 10px
  padding-left: 15px
  padding-bottom: 15px
  h4
    font-weight: 900

  ul
    +to_0
    li
      font-size: 18px
      color: #FFFFFF
      list-style-type: none

.color1
  background-color: #C594C5

.color2
  background-color: #F99157

.container
  +size(100%, 100%)