<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    {% include "extend/staticfile.html" %}
    {% include "component/modal_add.html" %}
</head>
<body>
<div id="app">
    <div class="row justify-center color2">
        <div class="mdl-textfield mdl-js-textfield">
            <input class="mdl-textfield__input" type="text" placeholder="text..." id="topic_name"
                   @keyup.enter="add_table"
                   v-model="name"
            >
        </div>
    </div>
    <div class="container column wrap justify-start content-start"></div>
    <!--<button id="show-modal" @click="showModal = true">Show Modal</button>-->
</div>
</body>


<script src="{{ url_for('static', filename='js/add.js')}}"></script>
</html>