<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>${topic.Name}</title>
    {% include "extend/staticfile.html" %}
    {% include "component/modal_add.html" %}
    {% include "component/editable.html" %}

</head>
<body>
<div id="app">
    <div class="row justify-center color2" v-cloak>
        <h2 v-editable="edit_callback()">${topic.Name}</h2>
    </div>
    <div class="container column wrap justify-start content-start">
        <table_add
                @add_click="add_click"
        ></table_add>
        <topic_table></topic_table>

        <div class="topic_table color1">
            <div class="flex items-center justify-between ">
                <h5>
                    Config
                </h5>
                <small>Global</small>
            </div>
            <ul>
                <li><a>content1</a></li>
                <li><a>content2</a></li>
                <li><a>content3</a></li>
                <li><a>content4</a></li>
                <li><a>content5</a></li>
                <li><a>content6</a></li>
                <li><a>content7</a></li>
            </ul>
        </div>
        <div class="topic_table color1">
            <div class="flex items-center justify-between ">
                <h5>
                    Config
                </h5>
                <small>Global</small>
            </div>
            <ul>
                <li><a>content1</a></li>
                <li><a>content2</a></li>
                <li><a>content3</a></li>
                <li><a>content4</a></li>
                <li><a>content5</a></li>
                <li><a>content6</a></li>
                <li><a>content7</a></li>
            </ul>
        </div>
        <div class="topic_table color1">
            <div class="flex items-center justify-between ">
                <h5>
                    Config
                </h5>
                <small>Global</small>
            </div>
            <ul>
                <li><a>content1</a></li>
                <li><a>content2</a></li>
                <li><a>content3</a></li>
                <li><a>content4</a></li>
                <li><a>content5</a></li>
                <li><a>content6</a></li>
                <li><a>content7</a></li>
            </ul>
        </div>
        <div class="topic_table color1">
            <div class="flex items-center justify-between ">
                <h5>
                    Config
                </h5>
                <small>Global</small>
            </div>
            <ul>
                <li><a>content1</a></li>
                <li><a>content2</a></li>
                <li><a>content3</a></li>
                <li><a>content4</a></li>
                <li><a>content5</a></li>
                <li><a>content6</a></li>
                <li><a>content7</a></li>
            </ul>
        </div>
        <div class="topic_table color1">
            <div class="flex items-center justify-between ">
                <h5>
                    Config
                </h5>
                <small>Global</small>
            </div>
            <ul>
                <li><a>content1</a></li>
                <li><a>content2</a></li>
                <li><a>content3</a></li>
                <li><a>content4</a></li>
                <li><a>content5</a></li>
                <li><a>content6</a></li>
                <li><a>content7</a></li>
            </ul>
        </div>
        <div class="topic_table color1">
            <div class="flex items-center justify-between ">
                <h5>
                    Config
                </h5>
                <small>Global</small>
            </div>
            <ul>
                <li><a>content1</a></li>
                <li><a>content2</a></li>
                <li><a>content3</a></li>
                <li><a>content4</a></li>
                <li><a>content5</a></li>
                <li><a>content6</a></li>
                <li><a>content7</a></li>
            </ul>
        </div>
        <div class="topic_table color1">
            <div class="flex items-center justify-between ">
                <h5>
                    Config
                </h5>
                <small>Global</small>
            </div>
            <ul>
                <li><a>content1</a></li>
                <li><a>content2</a></li>
                <li><a>content3</a></li>
                <li><a>content4</a></li>
                <li><a>content5</a></li>
                <li><a>content6</a></li>
                <li><a>content7</a></li>
            </ul>
        </div>
        <div class="topic_table color1">
            <div class="flex items-center justify-between ">
                <h5>
                    Config
                </h5>
                <small>Global</small>
            </div>
            <ul>
                <li><a>content1</a></li>
                <li><a>content2</a></li>
                <li><a>content3</a></li>
                <li><a>content4</a></li>
                <li><a>content5</a></li>
                <li><a>content6</a></li>
                <li><a>content7</a></li>
            </ul>
        </div>
        <div class="topic_table color1">
            <div class="flex items-center justify-between ">
                <h5>
                    Config
                </h5>
                <small>Global</small>
            </div>
            <ul>
                <li><a>content1</a></li>
                <li><a>content2</a></li>
                <li><a>content3</a></li>
                <li><a>content4</a></li>
                <li><a>content5</a></li>
                <li><a>content6</a></li>
                <li><a>content7</a></li>
            </ul>
        </div>
        <div class="topic_table color1">
            <div class="flex items-center justify-between ">
                <h5>
                    Config
                </h5>
                <small>Global</small>
            </div>
            <ul>
                <li><a>content1</a></li>
                <li><a>content2</a></li>
                <li><a>content3</a></li>
                <li><a>content4</a></li>
                <li><a>content5</a></li>
                <li><a>content6</a></li>
                <li><a>content7</a></li>
            </ul>
        </div>
    </div>
    <!--<button id="show-modal" @click="showModal = true">Show Modal</button>-->
    <modal v-if="showModal" @close="showModal = false">
    </modal>
</div>
</body>

<script src="{{ url_for('static', filename='js/edit.js')}}"></script>

</html>