<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <link ref="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/quasar.mat.css')}}"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/topic.css')}}"/>


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.2.2/vue.js"></script>
</head>
<body>
<div class="container column wrap justify-start content-start">
    <div class="topic_table color2">
        <div class="row items-center justify-between ">
            <h4>
                Config
            </h4>
            <div>test</div>
            <div class="self-end">Global</div>
        </div>
        <ul>
            <li>content1</li>
            <li>content2</li>
            <li>content3</li>
            <li>content4</li>
            <li>content5</li>
            <li>content6</li>
            <li>content7</li>
        </ul>
    </div>
    <div class="topic_table color1">2</div>
    <div class="topic_table">3</div>
    <div class="topic_table">4</div>
    <div class="topic_table">5</div>
    <div class="topic_table">6</div>
    <div class="row">
        <div>content</div>
        <div>content</div>
    </div>
</div>
</body>
</html>