<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <link ref="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/quasar.mat.css')}}"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/topic.css')}}"/>


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.2.2/vue.js"></script>
</head>
<body>
<div class="container column wrap justify-start content-start">
    <div class="topic_table color1">
        <div class="flex items-center justify-between ">
            <h5>
                Config1
            </h5>
            <small>Global</small>
        </div>
        <ul>
            <li><a>content1</a></li>
            <li><a>content2</a></li>
            <li><a>content3</a></li>
            <li><a>content4</a></li>
            <li><a>content5</a></li>
            <li><a>content6</a></li>
            <li><a>content7</a></li>
        </ul>
    </div>
    <div class="topic_table color1">
        <div class="flex items-center justify-between ">
            <h5>
                Config
            </h5>
            <small>Global</small>
        </div>
        <ul>
            <li><a>content1</a></li>
            <li><a>content2</a></li>
            <li><a>content3</a></li>
            <li><a>content4</a></li>
            <li><a>content5</a></li>
            <li><a>content6</a></li>
            <li><a>content7</a></li>
        </ul>
    </div>
    <div class="topic_table color1">
        <div class="flex items-center justify-between ">
            <h5>
                Config
            </h5>
            <small>Global</small>
        </div>
        <ul>
            <li><a>content1</a></li>
            <li><a>content2</a></li>
            <li><a>content3</a></li>
            <li><a>content4</a></li>
            <li><a>content5</a></li>
            <li><a>content6</a></li>
            <li><a>content7</a></li>
        </ul>
    </div>
    <div class="topic_table color1">
        <div class="flex items-center justify-between ">
            <h5>
                Config
            </h5>
            <small>Global</small>
        </div>
        <ul>
            <li><a>content1</a></li>
            <li><a>content2</a></li>
            <li><a>content3</a></li>
            <li><a>content4</a></li>
            <li><a>content5</a></li>
            <li><a>content6</a></li>
            <li><a>content7</a></li>
        </ul>
    </div>
    <div class="topic_table color1">
        <div class="flex items-center justify-between ">
            <h5>
                Config
            </h5>
            <small>Global</small>
        </div>
        <ul>
            <li><a>content1</a></li>
            <li><a>content2</a></li>
            <li><a>content3</a></li>
            <li><a>content4</a></li>
            <li><a>content5</a></li>
            <li><a>content6</a></li>
            <li><a>content7</a></li>
        </ul>
    </div>
    <div class="topic_table color1">
        <div class="flex items-center justify-between ">
            <h5>
                Config
            </h5>
            <small>Global</small>
        </div>
        <ul>
            <li><a>content1</a></li>
            <li><a>content2</a></li>
            <li><a>content3</a></li>
            <li><a>content4</a></li>
            <li><a>content5</a></li>
            <li><a>content6</a></li>
            <li><a>content7</a></li>
        </ul>
    </div>
    <div class="topic_table color1">
        <div class="flex items-center justify-between ">
            <h5>
                Config
            </h5>
            <small>Global</small>
        </div>
        <ul>
            <li><a>content1</a></li>
            <li><a>content2</a></li>
            <li><a>content3</a></li>
            <li><a>content4</a></li>
            <li><a>content5</a></li>
            <li><a>content6</a></li>
            <li><a>content7</a></li>
        </ul>
    </div>
    <div class="topic_table color1">
        <div class="flex items-center justify-between ">
            <h5>
                Config
            </h5>
            <small>Global</small>
        </div>
        <ul>
            <li><a>content1</a></li>
            <li><a>content2</a></li>
            <li><a>content3</a></li>
            <li><a>content4</a></li>
            <li><a>content5</a></li>
            <li><a>content6</a></li>
            <li><a>content7</a></li>
        </ul>
    </div>
    <div class="topic_table color1">
        <div class="flex items-center justify-between ">
            <h5>
                Config
            </h5>
            <small>Global</small>
        </div>
        <ul>
            <li><a>content1</a></li>
            <li><a>content2</a></li>
            <li><a>content3</a></li>
            <li><a>content4</a></li>
            <li><a>content5</a></li>
            <li><a>content6</a></li>
            <li><a>content7</a></li>
        </ul>
    </div>
    <div class="topic_table color1">
        <div class="flex items-center justify-between ">
            <h5>
                Config
            </h5>
            <small>Global</small>
        </div>
        <ul>
            <li><a>content1</a></li>
            <li><a>content2</a></li>
            <li><a>content3</a></li>
            <li><a>content4</a></li>
            <li><a>content5</a></li>
            <li><a>content6</a></li>
            <li><a>content7</a></li>
        </ul>
    </div>
</div>
</body>
</html>