<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    {% include "extend/staticfile.html" %}
</head>
<body>
<div id="#app" class="container column wrap justify-start content-start">
    <div class="topic_table color1">
        <div class="flex items-center justify-between ">
            <h5>
                Config1
            </h5>
            <small>Global</small>
        </div>
        <ul>
            <li><a>content1</a></li>
            <li><a>content2</a></li>
            <li><a>content3</a></li>
            <li><a>content4</a></li>
            <li><a>content5</a></li>
            <li><a>content6</a></li>
            <li><a>content7</a></li>
        </ul>
    </div>
    <div class="topic_table color1">
        <div class="flex items-center justify-between ">
            <h5>
                Config
            </h5>
            <small>Global</small>
        </div>
        <ul>
            <li><a>content1</a></li>
            <li><a>content2</a></li>
            <li><a>content3</a></li>
            <li><a>content4</a></li>
            <li><a>content5</a></li>
            <li><a>content6</a></li>
            <li><a>content7</a></li>
        </ul>
    </div>
    <div class="topic_table color1">
        <div class="flex items-center justify-between ">
            <h5>
                Config
            </h5>
            <small>Global</small>
        </div>
        <ul>
            <li><a>content1</a></li>
            <li><a>content2</a></li>
            <li><a>content3</a></li>
            <li><a>content4</a></li>
            <li><a>content5</a></li>
            <li><a>content6</a></li>
            <li><a>content7</a></li>
        </ul>
    </div>
    <div class="topic_table color1">
        <div class="flex items-center justify-between ">
            <h5>
                Config
            </h5>
            <small>Global</small>
        </div>
        <ul>
            <li><a>content1</a></li>
            <li><a>content2</a></li>
            <li><a>content3</a></li>
            <li><a>content4</a></li>
            <li><a>content5</a></li>
            <li><a>content6</a></li>
            <li><a>content7</a></li>
        </ul>
    </div>
    <div class="topic_table color1">
        <div class="flex items-center justify-between ">
            <h5>
                Config
            </h5>
            <small>Global</small>
        </div>
        <ul>
            <li><a>content1</a></li>
            <li><a>content2</a></li>
            <li><a>content3</a></li>
            <li><a>content4</a></li>
            <li><a>content5</a></li>
            <li><a>content6</a></li>
            <li><a>content7</a></li>
        </ul>
    </div>
    <div class="topic_table color1">
        <div class="flex items-center justify-between ">
            <h5>
                Config
            </h5>
            <small>Global</small>
        </div>
        <ul>
            <li><a>content1</a></li>
            <li><a>content2</a></li>
            <li><a>content3</a></li>
            <li><a>content4</a></li>
            <li><a>content5</a></li>
            <li><a>content6</a></li>
            <li><a>content7</a></li>
        </ul>
    </div>
    <div class="topic_table color1">
        <div class="flex items-center justify-between ">
            <h5>
                Config
            </h5>
            <small>Global</small>
        </div>
        <ul>
            <li><a>content1</a></li>
            <li><a>content2</a></li>
            <li><a>content3</a></li>
            <li><a>content4</a></li>
            <li><a>content5</a></li>
            <li><a>content6</a></li>
            <li><a>content7</a></li>
        </ul>
    </div>
    <div class="topic_table color1">
        <div class="flex items-center justify-between ">
            <h5>
                Config
            </h5>
            <small>Global</small>
        </div>
        <ul>
            <li><a>content1</a></li>
            <li><a>content2</a></li>
            <li><a>content3</a></li>
            <li><a>content4</a></li>
            <li><a>content5</a></li>
            <li><a>content6</a></li>
            <li><a>content7</a></li>
        </ul>
    </div>
    <div class="topic_table color1">
        <div class="flex items-center justify-between ">
            <h5>
                Config
            </h5>
            <small>Global</small>
        </div>
        <ul>
            <li><a>content1</a></li>
            <li><a>content2</a></li>
            <li><a>content3</a></li>
            <li><a>content4</a></li>
            <li><a>content5</a></li>
            <li><a>content6</a></li>
            <li><a>content7</a></li>
        </ul>
    </div>
    <div class="topic_table color1">
        <div class="flex items-center justify-between ">
            <h5>
                Config
            </h5>
            <small>Global</small>
        </div>
        <ul>
            <li><a>content1</a></li>
            <li><a>content2</a></li>
            <li><a>content3</a></li>
            <li><a>content4</a></li>
            <li><a>content5</a></li>
            <li><a>content6</a></li>
            <li><a>content7</a></li>
        </ul>
    </div>
</div>
</body>
<script src="{{ url_for('static', filename='js/topic.js')}}"></script>
</html>